# CSMAD21 - Applied Data Science with Python - Practical 4

## Functional Programming

Follow the instructions to complete each of these tasks, and use the testing code cells to check your answers. This set of exercises focuses on writing functional programming in Python.

**Questions marked with a * are extra challenging**

The relevant materials for these exercises are lectures 7, 8 and 9.

This is not assessed but will help you gain practical experience for the exam and coursework.

You will need to download some of the csv data set files from the module Blackboard page and place them in the same folder as this notebook. Run the cell below to load all of the necessary Python modules.


### 1. Basic Python and data structures 

#### 1.1

Write a function fib(n) that returns the first n values of the Fibonacci sequence $F$, with $F_1=1$, $F_2=1$, $F_n = F_{n-1} + F_{n-2}$.

In [1]:
def fib(n):
    if n<0:
        print("incorrect input")
    elif n==1:
        return 1
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)

In [2]:
# Testing
fib(12) # Should give 144

144

#### 1.2

Write a function rev(xs) that takes a list as argument and returns the list in reverse, without using the built-in Python reverse() method.

In [3]:
def rev(xs):
    sx=xs[::-1]
    print(sx)

In [4]:
# Testing
rev([[2,1],4,"test",1]) # Should return [1,"test",4,[2,1]]

[1, 'test', 4, [2, 1]]

#### 1.3

Write a function palindrome(s) to determine if a string s is a palindrome (the same backwards as forwards), returning True if it is and False otherwise. The function should ignore capitalisation (you can use the lower() method for strings for this).

In [5]:
def palindrome(s):
    y=s.lower()
    sx=y[::-1]
    if y==sx:
        return True
    else:
        return False

In [6]:
# Testing
print(palindrome("Kayak")) # True
print(palindrome("Python")) # False
print(palindrome("civic")) # True

True
False
True

#### 1.4

Write a function is Anagram(s<sub>1</sub>, s<sub>2</sub>) that accepts two strings s<sub>1</sub> and s<sub>2</sub>, and returns True if the two strings are anagrams and False if they are not. Ensure that capital letters do not affect the string comparison.

In [19]:
## 1.4 option 1
def isAnagram(s1, s2):
    s1, s2 = s1.replace(" ", "").lower(), s2.replace(" ", "").lower()
    s1_list = list(s1)
    s1_list.sort()
    s2_list = list(s2)
    s2_list.sort()

    if s1_list == s2_list:
        return True
    else:
        return False
    

# 1.4 option 2
def isAnagram(s1, s2):
    s1, s2 = s1.replace(" ", "").lower(), s2.replace(" ", "").lower()
    if sorted(s1) == sorted(s2):
        return True
    else:
        return False

In [31]:
# Testing

isAnagram('car', 'arc') # True
isAnagram('streSsed', 'Desserts') #True
isAnagram('bragg', 'grab') #False
isAnagram('holes', 'soles') #False

False

### 2. Map

#### 2.1

Use a map to return the largest element of each pair (tuple) in the list below

In [3]:
a = [(3, 2, 3), (1, 9, 10), (4, 1, 2), (8, 6, 3), (1, 7, 9)]
f = lambda x :max

In [4]:
# Testing
list( map(max,a))# [(3, 2, 3), (1, 9, 10), (4, 1, 2), (8, 6, 3), (1, 7, 9)]

[3, 10, 4, 8, 9]

#### 2.2

Write a function ends_with_e(s), that accepts a string s and returns True if the string ends with 'e' and False if the string does not end with 'e'. Use a map to return a True, if the string ends with 'e' or False if the string does not end with 'e', for each element of a list of strings.

In [28]:
def ends_with_e(s):
    s.lower()
    return s[-1] == "e"

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
list(map(starts_with_A, fruit))

[True, False, False, False, True]

In [32]:
#Test
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]

list(map(starts_with_A, fruit)) # [True, False, False, False, True]

[True, False, False, False, True]

### 3. Fold

#### 3.1*

Write __filter function__ that validates the presence of the __"@"__ symbol in a list of emails. Please implement the solution with __anonymous function__.

In [72]:
def valid_email(email):
    if '@' in email:
        return email

emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail']

femail_list = filter(valid_email, emlist)
print(list(femail_list))

['lupita@gmail.com', 'pure123@reading.ac.uk']

In [73]:
## Annonymous function
femail_list = filter(lambda x: '@' in  x,emlist) 

##Email list:
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail']
print(list(femail_list))

['lupita@gmail.com', 'pure123@reading.ac.uk']

In [74]:
##Test with the following list:
emlist = ['lupita@gmail.com','chanclaATgmail.om','I lost my email','pure123@reading.ac.uk', 'notanemail'] 
# Should return ['lupita@gmail.com', 'pure123@reading.ac.uk']

### 4. Higher order functions

#### 4.1*

Write a function power(f,n) that takes a function as an argument, and returns a function that applies f to its input n times

E.g. for g=power(f,3), $g(x)=f(f(f(x)))$

In [75]:
def power (f, x, n) :
    for i in range(n):
        x = f(x)
    return x

def square(x):
    return pow(x, 2)

y = power(square,3, 4)
print(y)

43046721

### 5. List comprehensions

#### 5.1

Write a list comprehension that will return all possible sets of three values x,y,z, one from each list a,b and c, where x<y<z.

In [19]:
a = [2,4,5,6,7]
b = [3,9,6,4]
c = [5,2,9]

In [20]:
[(x,y,z) for x in a for y in b for z in c if x<y<z]
# Should give [(2, 3, 5), (2, 3, 9), (2, 6, 9), (2, 4, 5), (2, 4, 9), (4, 6, 9), (5, 6, 9)]

[(2, 3, 5), (2, 3, 9), (2, 6, 9), (2, 4, 5), (2, 4, 9), (4, 6, 9), (5, 6, 9)]

#### 5.2

Write a list comprehension that returns pairs (x,y) where x is divisble by y for x in the range a and y in the range b.

In [21]:
a = range(1,22)
b = range(1,11)

In [22]:
z=[(x,y) for x in range(1,22) for y in range(1,11) if x%y==0]
# Output should have 59 elements - test this with len()
len(z)

59

### 6. Generators
#### 6.1

Write a generator expression g that will generate an infinite sequence of values which are not divisible by 3 or 5. You should use the count function in the itertools module to generate the infinite range.

In [75]:
import itertools
def g(N):
    for i in itertools.count(1,1):
        if (i%3!=0 and i%5!=0):
            yield i

In [76]:
gen=g(5)
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

1
2
4
7
8
11

#### 6.2

Write a function take(g,n) that takes a generator g as an argument and returns a list containing the first n values of g. Use it to generate the first five values of the generator in the previous question.

In [77]:
def take(g,n):
    return [next(g) for i in range(n)]

In [78]:
# Testing
take(g(20),5) # Should give [1,2,4,7,8]

[1, 2, 4, 7, 8]

### 7 Exceptions

Using the diamonds dataset as input, write a function called __expensive_diamonds__ that receives 2 parameters(carat and cut) returns the price(or average price if needed) of the diamond. Your function should comply with the following requirements:
- It should be able to handle if the carat/cut combination provided is not present in the dataset(empty dataset). How to handle this error is entirely up to you; provide justification.
- Because the function consider just extensive diamonds, the requests that end up with prices below 3,000 should be excluded. How to handle this exception is entirely up to you; provide justification.

In [1]:
import pandas as pd
diamonds = pd.read_csv('Datasets/diamonds.csv')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [56]:
def expensive_diamonds(crt,cut):
    if len(diamonds.loc[(diamonds['carat'] ==crt) & (diamonds['cut'] == cut)]) == 0:
        raise IndexError('The carat/cut values provided were not found')

    else:
        if diamonds.loc[(diamonds['carat'] ==crt) & (diamonds['cut'] == cut), 'price'].mean() <= 3000:
            raise ValueError('This business just work with expensive diamonds')
        else:
            return diamonds.loc[(diamonds['carat'] ==crt) & (diamonds['cut'] == cut), 'price'].mean()

In [57]:
##Test your funtion with the following values:
expensive_diamonds(3, 'Good')

12443.0

In [58]:
##Test your funtion with the following values:
expensive_diamonds('hello', 'Good')

IndexError: The carat/cut values provided were not found

In [60]:
##Test your funtion with the following values:
expensive_diamonds(.5, 'Good')

ValueError: This business just work with expensive diamonds